:root {
  --FontRubik: Rubik;
  --FontSize: 16px;
  --Gris: #54585a;
  --Verdeclaro: #14d9c4;
  --Verdeoscuro: #099d8d;
  --WhiteBackground: white;					   
}
/* css Footer */

.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: solid #b8b8b9 1px;
  padding-top: 30px;
  padding-bottom: 45px;
  font-size: 14px;
  font-family: OpenSans;
}
.footer-menu {
  width: 114px;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  line-height: 1.43em;
  color: #54585a;
  opacity: 0.75;
  text-transform: uppercase;
}
a:link {
  color: #54585a;
  text-decoration: none;
}
a:visited {
  color: #54585a;
  text-decoration: none;
}
a:hover {
  color: #099d8d;
  text-decoration: none;
}
a:active {
  color: #099d8d;
  text-decoration: none;
}
.image-logo {
  margin-top: 30px;
}
.logo-size {
  height: 45px;
  width: 115.9px;
}
.name-footer {
  width: 172px;
  height: 20px;
  color: #b8b8b9;
}
/* Hero image and Motto (Jana)*/
.image {
  position: relative; /*with respect to the viewport*/
  width: 320px;
  height: 421px;
  display: block;
  margin: auto;
}
.hero {
  position: absolute; /*with respect to image*/
  width: 320px;
  height: 421px;
}
.motto-rectangle {
  background-color: #ffffff;
  position: absolute; /*with respect to hero*/
  width: 290px;
  height: 80px;
  display: block;
  left: 15px;
  top: 387px;
}
.motto {
  font-family: OpenSans;
  font-size: 18px;
  font-style: normal; /*opcional*/
  font-weight: 600; /*Semi-bold text*/
  letter-spacing: normal;
  color: black;
  text-align: center;
  position: absolute; /*with respect to motto-rectangle*/
  width: 260px;
  height: 50px;
  display: block;
  left: 15px;
  top: 14px;		   
}

/*HEADER */

.header_base {
  width: 320px;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: #099d8d;
}
.team {
  font-family: Rubik;
  text-transform: uppercase;
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}
/*seccion Lorena:equipo, fortalezas y debilidades*/

.team-container {
  width: 320px;
  height: 425px;
  padding: 30px 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-title {
  width: 290px;
  height: 45px;
  text-align: center;
  font-weight: 500;
  font-family: Rubik;
  font-size: 22px;
}
.team-description {
  width: 290px;
  height: 384px;
  font-size: 16px;
  text-align: center;
}

.strengths-container {
  width: 290px;
  height: 192px;
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cool-grey);
  position: relative;
}
.strengths {
  width: 290px;
  height: 45px;
  text-align: center;
  font-weight: 500;
  font-family: Rubik;
  font-size: 22px;
}
.weaknesses-container {
  width: 290px;
  height: 192px;
  padding: 30px 15px 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cool-grey);
}
.weaknesses {
  width: 290px;
  height: 45px;
  text-align: center;
  font-weight: 500;
  font-family: Rubik;
  font-size: 22px;
}
.weaknesses-description {
  width: 290px;
  height: 192px;
  font-family: OpenSans;
  font-size: 16px;
  text-align: center;
}

/* text-align: center;
  color: var(--aqua);
} */

/*hasta aqui la seccion de lorena*/

.menu {
  list-style: none;
  display: flex;
  font-family: Rubik;
}
.menu_bar {
  width: 320px;
  height: 45px;
  /*margin: 60px 0 0;*/
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
  background-color: #14d9c4;
}

.equipo {
  text-transform: uppercase;
  width: 56px;
  height: 30px;
  margin: 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}
.quienes_somos {
  text-transform: uppercase;
  width: 121px;
  height: 30px;
  margin: 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}
.contactos {
  text-transform: uppercase;
  width: 80px;
  height: 30px;
  margin: 0 0 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}

.container-description {
  background-color: red; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
