<section class="item-description">
  <div id="quienes-somos" class="anchor"></div>
  <h2 class="title-description">About us</h2>

  <include
    src="./descriptions.html"
    title="Jana Dimitrova"
    imagensrc="./assets/images/jana.png"
    imagenalt="Jana"
    description="Jana, just as Robin Buckley, is an incredibly curious woman. She is also enough
        brave to get out of her comfort zone and go into the unknown. With a
        background as laboratory technician and a great passion for creativity,
        she decided to cross the Gate and enter the exciting world of programming.
        If you are looking for a professional Front-End Developer, with
        motivation, career ambitions, an international background, and full of
        innovative ideas to share, then, don't look further!"
    github="https://github.com/janadim"
    linkedin="https://www.linkedin.com/in/janadtitarchuk/"
    email="mailto:jana.d.titarchuk@gmail.com"
  >
  </include>

  <include
    src="./descriptions.html"
    title="Marcela Chuqi"
    imagensrc="./assets/images/marcela.png"
    imagenalt="Marcela"
    description="Hi! As the character of Nancy
        Wheeler in Stranger Things, I always like to seek the truth of
        things, brave and passionate. My contribution as jr. Front-End
        Developer and my experience in the world of HR and entrepreneurship,
        could be very helpful to get your project off the ground. So… knock
        knock! If there is something that describes me, it is the ADRENALINE
        to start something new, the INTEGRITY to continue and the RESILIENCE
        to not stop despite unfavorable situations."
    github="https://github.com/marcelachuq"
    linkedin="https://www.linkedin.com/in/marcelachuqi/"
    email="mailto:marcela.chuqi@gmail.com"
  >
  </include>

  <include
    src="./descriptions.html"
    title="Nur Ahissami"
    imagensrc="./assets/images/nur.png"
    imagenalt="Nur"
    description="I identify myself with Max Mayfield for her persistence. Just like
        her, I’m a committed, responsible and constant woman in my work,
        always willing to face new challenges. Due to my experience as a
        designer I can contribute with my creativity, taking care of even
        the smallest detail. I am in a new stage in which I want to learn and
        know about this wide world, and you? What are you waiting for to
        meet me?"
    github="https://github.com/NurAhissami"
    linkedin="https://www.linkedin.com/in/nur-ahissami-1a7b24157/"
    email="mailto:nurahi10@gmail.com"
  >
  </include>
  <include
    src="./descriptions.html"
    title="Lorena Orellana"
    imagensrc="./assets/images/Lorena.png"
    imagenalt="Lorena"
    description="I feel inspired by Joyce Byers´s character because of her determination to
        achieve anything she resolves. Thanks to my extensive job experience
        in the translation and tourism world, in this new career as
        Front-End Developer I´m involved, I´ll be able to deliver great
        products in several languages and with a broad cultural
        acquaintance. Take for granted that my goal is to become a highly
        skilled tech woman, and..., do you know where I get the necessary
        help from? Yin-Yoga. I´m really passionate about this slow-paced
        style of Yoga that improves my fitness and mental wellness. So,
        ommmmmmmmmm, May the Eleven Code be with you!"
    github="https://github.com/Lorellana21"
    linkedin="https://www.linkedin.com/in/lorenaorellana/"
    email="mailto:lorellana.ordonez@gmail.com"
  >
  </include>
  <include
    src="./descriptions.html"
    title="Almudena Moyano"
    imagensrc="./assets/images/almudena.jpg"
    imagenalt="Almudena"
    description="Hello world! I have some similarities with Erica Sinclair´s character, she is funny,
        and kind-hearted and sometimes a little bit perfeccionist...speak of
        the devil, it's me! Just kidding, let's talk about my life. I had
        studied Social Work when someday I realized that helping people was
        not enough for me. It turned out that there are so many ways to make
        the world a better place. It was the point when I took on making
        worth from IT department hereinafter in order to make life easier as
        a Front-End Developer. As a Social Worker, I am able to solve problems through
        soft skills like teamwork or communication. As a multifaceted, I am
        willing to get my life with wit, persistence and patience. So, take advantage, I am the
        tricky girl that save the season in the last moment :)"
    github="https://www.github.com/Almoyano"
    linkedin="https://www.linkedin.com/in/almudena-moyano-3b293872"
    email="mailto:a.moyano.miguel@gmail.com"
  >
  </include>
</section>
