<section class="image-description">
  <div>
    <img class="size-image" src="@@imagensrc" alt="@@imagenalt" />
  </div>
  <div class="about-item">
    <h3 class="about-item__name">@@title</h3>
    <p class="about-item__text-description">@@description</p>
    <div class="about-item__social-media">
      <ul class="socialmedia-list">
        <li class="item-social deco">
          <a class="link" target="_blank" href="@@linkedin">
            <i class="fab fa-linkedin-in"></i
          ></a>
        </li>

        <li class="item-social deco">
          <a class="link" target="_blank" href="@@github"
            ><i class="fab fa-github-alt"></i
          ></a>
        </li>
        <li class="item-social">
          <a class="link" target="_blank" href="@@email">
            <i class="fas fa-envelope"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
