<!-- Nur -->
<footer class="footer footer--gray">
  <div class="footer__copy">
    <small>ELEVEN CODE &copy; 2021</small>
  </div>
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li>
        <a class="footer__menu-link" href="./index.html#equipo">Team</a>
      </li>
      <li>
        <a class="footer__menu-link" href="./index.html#quienes-somos"
          >About us</a
        >
      </li>
      <li>
        <a class="footer__menu-link" href="./contact.html">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="footer__logo">
    <a href="./index.html"
      ><img
        class="footer__logo-size"
        src="../assets/images/logo-adalab.png"
        alt="adalab"
    /></a>
  </div>
</footer>
