<footer class="footer">
  <!-- Nur -->
  <div class="name-footer">
    <small>ELEVEN CODE &copy; 2021</small>
  </div>
  <nav class="footer-menu">
    <ul class="footer-menu-1">
      <li class="madre-link">
        <a class="link-color" href="#equipo">Team</a>
      </li>
      <li class="madre-link">
        <a class="link-color" href="#quienes-somos">About us</a>
      </li>
      <li class="madre-link">
        <a class="link-color" href="./contact.html" target="_blank">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="image-logo">
    <a href="./index.html"><img class="logo-size" src="../assets/images/logo-adalab.png" alt="adalab" /></a>
  </div>
</footer>