<footer class="footer-gray">
  <div class="central-column">
    <div class="footer">
      <div class="footer__copy">
        <small>ELEVEN CODE &copy; 2021</small>
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li>
            <a class="footer__menu-link" href="./index.html#equipo" title="Team">Team</a>
          </li>
          <li>
            <a class="footer__menu-link" href="./index.html#quienes-somos" title="About us">About us</a>
          </li>
          <li>
            <a class="footer__menu-link" href="./contact.html" title="Contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer__logo">
        <a href="./index.html"><img class="footer__logo-size" src="./assets/images/logo-adalab.png" alt="adalab"
            title="Go to home" /></a>
      </div>
    </div>
  </div>
</footer>