<header>
  <!-- Marcela -->
  <section class="header_all" id="header_all2">
    <div class="header_base">
      <h1 class="team_name">Eleven Code</h1>
    </div>
    <nav class="menu_bar">
      <ul class="menu_list">
        <li class="equipo">
          <a class="menu-link" href="#equipo">Team</a>
        </li>
        <li class="quienes_somos">
          <a class="menu-link" href="#quienes-somos">About us</a>
        </li>
        <li class="contactos">
          <a class="menu-link" href="./contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>