<header class="header">
  <div class="header--color-1">
    <h1 class="header__logo">
      <div class="central-column">
        <a href="./index.html">
          <img class="logo-image" src="./assets/images/logo-header.png" alt="Eleven code"
            title="Logo Eleven code"></img>
        </a>
      </div>
    </h1>
  </div>

  <div class="header--color-2">
    <nav class="header__nav">
      <div class="central-column">
        <ul class="header__nav-list">
          <li><a class="header__nav-list--link" href="./index.html#equipo">Team</a></li>
          <li><a class=" header__nav-list--link" href="./index.html#quienes-somos">About us</a></li>
          <li><a class="header__nav-list--link" href="./contact.html">contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>