<header>
  <!-- Marcela -->
  <section class="header__all" id="header_all2">
    
      <div class="header__base">
        <div class="central-column">
        <h1 class="team-name">
          <a class="menu-link" href="./index.html#">Eleven Code</a>
        </h1>
        </div>
      </div>

      <nav class="menu__bar">
        <div class="central-column">
          <ul class="menu__list">
            <li class="equipo">
              <a class="menu-link" href="./index.html#equipo">Team</a>
            </li>
            <li class="quienes_somos">
              <a class="menu-link" href="./index.html#quienes-somos">About us</a>
            </li>
            <li class="contactos">
              <a class="menu-link" href="./contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
        
    </div>
  </section>
</header>