<!-- Jana -->
<section class="image">
  <div class="back">
  <div class="animation">
    <div><img class="etiqueta1" src="./assets/images/etiqueta1.png" alt="etiqueta1" title="etiqueta1"></div> 
    <div><img class="nombre-logo" src="./assets/images/nombre-logo.png" alt="Logo eleven code" title="Logo Completo"></div> 
    <div><img class="etiqueta2" src="./assets/images/etiqueta2.png" alt="etiqueta2" title="etiqueta2"></div>
    <div><img class="logosimple" src="./assets/images/logosimple2.png" alt="Logo simple" title="Logo simple"></div>
  </div>
  <div class="motto-rectangle">
    <div class="motto">
      <p>Crossing the Gate</p>
    </div>
  </div>
</div>
</section>