<!-- Jana -->
<section class="image">
  <section class="animation">
    <span ><img class="etiqueta1" src="./assets/images/etiqueta1.png" alt="etiqueta1" title="etiqueta1"></span> 
    <span ><img class="nombre-logo" src="./assets/images/nombre-logo.png" alt="Logo eleven code" title="Logo Completo"></span> 
    <span ><img class="etiqueta2" src="./assets/images/etiqueta2.png" alt="etiqueta2" title="etiqueta2"></span>
  </section>
  <div class="motto-rectangle">
    <div class="motto">
      <p>Crossing the Gate</p>
    </div>
  </div>
</div>
</section>