<main class="container">
  <div class="central-column-contact">
    <section class="section-contact">
      <h2 class="section-contact__title">Contact</h2>
      <p class="section-contact__text">
        Open the gate and cross to the other side, beyond the interface. Five
        women that have chosen to stay, grow and be mutually supportive in this
        amazing technological world. CONTACT US!
      </p>
      <p class="section-contact__text-all">
        All fields with <span class="star">*</span> are required
      </p>
      <form
        action="https://formspree.io/f/xgervpby"
        class="section-contact__form"
        method="post"
      >
        <div class="section-contact__form--name">
          <label for="firstname">
            Full Name
            <span class="star">*</span>
          </label>
          <input
            class="section-contact__form--box"
            type="text"
            id="firstname"
            name="firstname"
            placeholder="Eleven Hopper"
            required
          />
        </div>
        <div class="section-contact__form--email">
          <label for="email">
            E-mail
            <span class="star">*</span>
          </label>
          <input
            class="section-contact__form--box"
            type="email"
            id="email"
            name="email"
            placeholder="youremail@mail.com"
            required
          />
        </div>
        <div class="section-contact__form--phone">
          <label for="phone"> Phone </label>
          <input
            class="section-contact__form--box"
            type="tel"
            id="phone"
            name="phone"
            placeholder="ex.: (+34) 654 123 456"
          />
        </div>
        <div class="section-contact__form--text">
          <label for="message">
            Message
            <span class="star">*</span>
          </label>
          <textarea
            class="section-contact__form--box section-contact__form--box-message"
            id="message"
            name="message"
            rows="8"
            cols="25%"
            placeholder="Place your comment here"
            required
          ></textarea>
        </div>
        <div>
          <input
            class="section-contact__form--box section-contact__form--bottom"
            type="submit"
            value="SEND"
          />
        </div>
      </form>
    </section>
  </div>
</main>
