<section class="team">
  <div id="equipo" class="anchor"></div>
  <div class="team__container" id="equipo">
    <h2 class="team__title">Team</h2>
    <p class="team__description">
      Imagine there is a code able to solve every sort of problem you may find.
      The kind of code everyone (around the world) would be eager to work with;
      that desired code trained to defeat the very common "bugs". Stop thinking!
      Rumour has it that it already exists, and has been created by a team of
      five super women by means of using their maximun strength to make it
      happen. They, that once were laypersons in this field, have decided to
      open the gate and crossed to the other side, beyond the interface.
      <span class="bold"
        >Five women that have chosen to stay, grow and be mutually supportive in
        this amazing technological world.</span
      >
      So, what are you waiting for? Knock the door!
    </p>
  </div>
  <section class="boxsection">
    <div class="whitebox"></div>
  </section>
</section>

<section class="section">
  <div class="section__strengths">
    <h2 class="section__strengths-title">Strengths</h2>
    <p class="section__strengths-description">
      Wow!…The name of our team, "Eleven Code", shows one of our best strengths. If you have seen Stranger Things, you might know what we are talking
      about. Don't you think ELEVEN is an incredible girl? The truth is that we
      identify ourselves with that <span class="bold">COURAGE</span>, that
      <span class="bold">TEAMWORK</span> spirit and, above all, that
      <span class="bold">RESILIENCE</span> that has, therefore, a STRONG and
      POWERFUL code, made up of five extraordinary WOMEN.
    </p>
  </div>
  <div class="section__weaknesses">
    <h2 class="section__weaknesses-title">Weaknesses</h2>
    <p class="section__weaknesses-description">
      Coming from very different fields and starting a project remotely, due to
      the current circumstances that have touched us (i.e. covid), could be
      factors that play against anyone of us. Especially when we want to make
      an approach with you (our client), or even more, with ourselves as a team.
      However, we are committed to improve every single day and offer you always
      the best, despite any situation and regardless of our background.
    </p>
  </div>
</section>
