.item-description {
  margin: 30px 15px 0 15px;
  text-align: center;
  line-height: 1.5;
  position: relative;
}
.anchor {
  position: absolute;
  top: -150px;
}

.title-description {
  text-transform: uppercase;
  font-family: $FontRubik;
  font-size: 24px;
  color: $Verdeoscuro;
  margin-bottom: 30px;
  font-weight: 500;
}

.image-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  @media (min-width: 768px) {
    margin-left: 45px;
    margin-right: 45px;
  }
  @media (min-width: 1200px) {
    margin-left: 138px;
    margin-right: 138px;
  }
}

.size-image {
  width: 180px;
  height: 180px;
  display: block;
  text-align: center;
  justify-content: center;
}

.about-item__name {
  font-size: 20px;
  color: black;
  height: 45px;
  margin-top: 15px;
}

.about-item__text-description {
  color: $ColorGris;
}

.about-item__social-media {
  width: 100%;
  height: 30px;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.item-social {
  color: $Verdeoscuro;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

.image-description:nth-child(odd) .item-social {
  margin-right: 15px;
  margin-left: 0;
  margin-top: 15px;
}

.deco:after {
  content: ".";
  color: rgb(87, 84, 84);
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
}

.link:link {
  color: var(--Verdeoscuro);
  text-decoration: none;
}

.link:visited {
  color: $Verdeoscuro;
  text-decoration: none;
}
.link:hover {
  color: $ColorGris;
  text-decoration: none;
  font-size: 150%;
  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  cursor: none;
}
.link:active {
  color: $Verdeclaro;
  text-decoration: none;
}

@media (min-width: 768px) {
  .image-description:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .image-description:nth-child(odd) {
    flex-direction: row;
    text-align: left;
  }
  .image-description:nth-child(odd) .socialmedia-list {
    margin-left: 0;
    margin-right: auto;
  }
  .image-description:nth-child(even) .socialmedia-list {
    margin-left: auto;
    margin-right: 0;
  }
  .image-description:nth-child(odd) .about-item {
    padding-left: 30px;
  }
  .image-description:nth-child(even) .about-item {
    padding-right: 30px;
  }
  .image-description {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .image-description {
    margin-left: 138px;
    margin-right: 138px;
  }
  .size-image {
    height: 278px;
    width: 278px;
  }
}
