.central-column {
  margin: auto 15px;

  @media all and(min-width: 768px) {
    margin: auto 45px;
  }
  @media all and(min-width: 1280px) {
    margin: auto 138px;
  }
}
.header {
  &__all {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  &__base {
    background-color: #099d8d;
    height: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0.95;
    background-color: $Verdeoscuro;
    font-family: $FontRubik;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.menu {
  &__bar {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    opacity: 0.9;
    background-color: $Verdeclaro;
  }

  &__list {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-link:hover {
  color: var(--Gris);
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu__bar {
    flex-direction: row-reverse;
    justify-content: right;
    background: 0px;
  }
  .team-name {
    display: flex;
  }

  .menu__list {
    height: 30px;
    transform: translateY(-45px);
    padding-bottom: 15px;
  }
}

.equipo {
  text-transform: uppercase;
  font-family: $FontRubik;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  color: white;
}

.quienes_somos {
  text-transform: uppercase;
  font-family: $FontRubik;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}
.contactos {
  text-transform: uppercase;
  font-family: $FontRubik;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: white;
}
.menu-link:link {
  color: white;
  text-decoration: none;
}
.menu-link:visited {
  color: white;
  text-decoration: none;
}
.menu-link:hover {
  color: $ColorGris;
  text-decoration: none;
}
.menu-link:active {
  color: white;
  text-decoration: none;
}

/*Marcela mediaquery tablet*/
@media (min-width: 768px) {
  .header_base {
    height: 60px;
  }
  .menu_bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    background: 0;
  }

  .header__base-name {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }

  .menu_list {
    height: 30px;
    padding-right: 45px;
    transform: translateY(-45px);
  }
}

/*Marcela mediaquery desktop*/
@media (min-width: 1200px) {
  .header_base {
    height: 60px;
  }
  .menu_bar {
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    background: 0;
  }
  .team_name {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    padding-left: 138px;
  }

  .menu_list {
    height: 30px;
    padding-right: 142px;
    transform: translateY(-45px);
  }
}
