/* Hero image and Motto (Jana)*/
.image {
  background-image: url("../images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /*with respect to the viewport*/
  height: 421px;
  margin-left: 0;
}
// .back {
//   width: 100%;
//   height: 421px;
//   background-color: rgba(255, 255, 255, 0.25);
// }
.animation {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  padding-top: 175px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.etiqueta1 {
  width: 45px;
  animation-name: left;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  // position: absolute;
}
@keyframes left {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(0px) rotate(120deg);
  }
}

.nombre-logo {
  width: 175px;
  animation-name: intro;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  // position: absolute;
}
.logosimple {
  width: 175px;
  visibility: hidden;
  animation-name: final;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  // position: absolute;
}
@keyframes final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-180px);
    visibility: visible;
  }
}
@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.etiqueta2 {
  width: 45px;
  animation-name: right;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  // position: absolute;
}
@keyframes right {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  100% {
    transform: translatex(-190px) translatey(0px) rotate(-60deg);
  }
}
.logosimple {
  width: 175px;
  // position: absolute;
}
.motto-rectangle {
  background-color: #ffffff;
  position: absolute; /*with respect to hero*/
  width: 290px;
  height: 80px;
  margin-left: 15px;
  display: block;
  top: 365px;
  padding-top: 15px;
  transform: translate(0, 25%);
}
.motto {
  font-size: 18px;
  font-style: normal; /*opcional*/
  font-weight: 600; /*Semi-bold text*/
  letter-spacing: normal;
  color: black;
  text-align: center;
  position: absolute; /*with respect to motto-rectangle*/
  width: 260px;
  height: 50px;
  display: block;
  left: 15px;
  top: 20px;
}
/*Jana mediaquery tablet*/
@media (min-width: 768px) {
  .image {
    // width: 100vw;
    background-image: url("../images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .motto-rectangle {
    height: 80px;
    opacity: 0.8;
    margin-right: 281px;
    transform: translate(45px, 0);
    width: 441px;
    /* padding-left: 46px; */
  }
  .image__motto-rectangle {
    margin-left: 45px;
  }

  .motto {
    width: 381px;
  }
  .hero {
    display: block;
  }
}
/*Jana mediaquery tablet*/
@media (min-width: 1200px) {
  .image {
    width: 100vw;
    background-image: url("../images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .motto-rectangle {
    width: 574px;
    height: 90px;
    opacity: 0.8;
    margin-right: 488px;
    transform: translate(138px, 0);

    /* padding-left: 46px; */
  }
  .motto {
    width: 514px;
    font-size: 24px;
  }
}
