.team .section {
  max-width: 320px;
}

.team {
  &__container {
    padding: 35px 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    line-height: 1.5;
    @media (min-width: 780px) {
      margin: 15px 0 0;
      line-height: 1.5;
      padding: 45px 45px 30px;
    }
    @media (min-width: 1200px) {
      line-height: 1.5;
      padding: 45px 300px 60px 299px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: $FontRubik;
    font-weight: 600;
    height: 45px;
    text-align: center;
    font-size: 22px;
    color: $Verdeclaro;
    letter-spacing: 2px;
  }
  &__description {
    font-size: 16px;
    text-align: center;
    color: $ColorGris;
  }
}
.section {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &__strengths {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    color: $ColorGris;
    flex-grow: 1;
    padding: 0 15px 0;
  }

  &__strengths-title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    color: $Verdeoscuro;
  }
  &__weaknesses {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    color: $ColorGris;
    flex-grow: 4;
    padding: 0 15px 0;
  }
  &__weaknesses-title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    color: $Verdeoscuro;
  }
  &__weaknesses-description {
    font-size: 16px;
    text-align: center;
    color: var(--Gris);
  }
  @media (min-width: 780px) {
    margin: 0;
    padding: 45px 44.8px 60px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    &__strengths {
      margin: 0 0;
      line-height: 24px;
    }
    &__weaknesses {
      margin: 0;
      line-height: 24px;
    }
  }
  @media (min-width: 1200px) {
    margin: 0;
    padding: 45px 138px 60px;
    text-align: center;
    justify-content: center;
    &__strengths {
      margin: 15px 1px 0 45px;
      line-height: 1.5;
    }
    &__weaknesses {
      margin: 15px 1px 0 45px;
      line-height: 1.5;
    }
  }
}

.team .section {
  max-width: 320px;
}

.bold {
  font-weight: bold;
}
