.team {
  background-color: #efefef;
}
.section {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.team__container {
  font-family: var(--FontOpenSans);
  padding: 35px 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  line-height: 1.2;
}
.team__title {
  font-family: var(--FontOpenSans);
  font-weight: 500;
  height: 45px;
  text-align: center;
  font-size: 22px;
  color: var(--Verdeclaro);
}
.team__description {
  font-family: var(--FontOpenSans);
  font-size: 16px;
  text-align: center;
  color: var(--Gris);
}

.section__strengths {
  font-family: var(--FontOpenSans);
  padding: 30px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  color: var(--Gris);
  flex-grow: 1;
}
.section__strengths-title {
  font-family: var(--FontOpenSans);
  text-align: center;
  font-size: 22px;
  color: var(--Verdeoscuro);
}
.section__weaknesses {
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: var(--FontOpenSans);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  color: var(--Gris);
  flex-grow: 4;
  padding: 0px 15px 0px;
}
.section__weaknesses-title {
  font-family: var(--FontOpenSans);
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  color: var(--Verdeoscuro);
}
.section__weaknesses-description {
  font-family: var(--FontOpenSans);
  font-size: 16px;
  text-align: center;
  color: var(--Gris);
}

.team .section {
  max-width: 320px;
}

@media (min-width: 780px) {
  .team__container {
    margin: 15px 0 0;
    line-height: 1.5;
    padding: 45px 45px 30px;
  }
  .section {
    margin: 0;
    padding: 45px 44.8px 60px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .section__strengths {
    margin: 0 0;
    line-height: 24px;
  }
  .section__weaknesses {
    margin: 0;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .team__container {
    line-height: 1.5;
    padding: 45px 300px 60px 299px;
  }
  .section {
    margin: 0;
    padding: 45px 138px 60px;
    text-align: center;
    justify-content: center;
  }
  .section__strengths {
    margin: 15px 38.2px 0 0;
    line-height: 1.5;
  }
  .section__weaknesses {
    margin: 15px 1px 0 45px;
    line-height: 1.5;
  }
}
